<h1>Create a New Project</h1>

<%= form_for @project do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :funding_goal %>
    <%= f.text_field :funding_goal %>
  </div>

  <div>
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div>
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <h4>Rewards</h4>

  <%= f.fields_for :rewards do |rewards_form| %>
  <div>
    <%= rewards_form.label :description %>
    <%= rewards_form.text_field :description %>
  </div>

  <div>
    <%= rewards_form.label :amount %>
    <%= rewards_form.text_area :amount %>
  </div>
  <% end %>

  <%= f.submit %>
<% end %>