<%= form_tag user_sessions_path, method: :post do %>
 <%= if errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralizae(errors.count, "error") %> prohibited this article from being saved: </h2>

      <ul>
        <% @errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>